#startWindow {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  margin-top: 25vh;
}

#startWindow input{
  font-size: medium;
  border: 0;
}

#startWindow input:focus{
  outline: none;
}

.errorMessage{
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}